<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:theme="@style/AppTheme"
        android:label="FincApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.AuraActivity" />
        <activity android:name=".ui.AnimalActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.FarmActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
